:root {
    --primary: #E74D3D;
}

.header {
    background-color: #f0f0f0;
}

.header ul li {
    display: inline;
    padding-right: 20px;
}

.header ul li a {
    text-decoration: none;
    color: rgb(55, 55, 55);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.header ul li.active {
    color: var(--primary);
    font-weight: 600;
}

.SearchBaritem {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.profileIcons {
    text-align: center;
}

.profileIcons span {
    display: block;
}

.profileIcons svg {
    display: block;
    margin: 0 auto;
    font-size: 20px;
}

.profileIcons a {
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
}